.title
  border: 1px solid white
  width: 300px
  height: 400px
  margin: 100px auto

  p
    font-family: 'Lato', serif
    letter-spacing: .2em
  h1, h2
    padding-left: 20px
  .arrow
    padding: 0

h1, h2
  font-weight: 100

h1
  font-size: 50px

h2
  letter-spacing: .2em

.kzoo
  letter-spacing: .38em

.pfpj
  letter-spacing: .48em

.about
  background-color: #eee

  h2
    color: #333
    padding: 20px 0px 0px 0px
    //padding-bottom comes with .about-text

.about-text
  max-width: 400px
  margin: 0px auto
  text-align: justify
  padding-bottom: 20px

  p
    color: #666
