.title
  border: 1px solid white
  width: 300px
  height: 400px
  margin: 100px auto

  h1, h2
    padding-left: 20px
  p
    font-family: 'Lato', serif
    letter-spacing: .2em
  .arrow
    padding: 0

.kzoo
  letter-spacing: .38em

.pfpj
  letter-spacing: .48em

//Sections

.white-box
  h2
    padding-top: 10px

.box-text
  text-align: justify
  padding-bottom: 20px
  margin: 0px auto

.center
  max-width: 600px




.left-half, .right-half
  display: inline-block
  width: 50%
.left-half
  float:left
.right-half
  float: right

.twin
  width: 300px
  padding: 10px

.l-twin
  float: right

.r-twin
  float: left

.cal-icon
  display: block
  margin: 0 auto
