.navbar-inverse
  background-color: rgba(0,0,0,0.8)
  height: 50px

.navbar-brand
  img
    height: 30px
    margin-top: -5px

li
  display: inline
  font-size: 18px

  a
    display: inline-block
    padding: 10px 16px

@media (max-width: 767px)
  ul
    background-color: rgba(0,0,0,0.8)

.extra-space
  height: 75px
