nav
  background-color: rgba(0,0,0,0.8)
  top: 0
  height: 50px
  width: 100%
  position: fixed

ul
  list-style: none
  margin: 0
  padding: 0

li
  display: inline
  padding: 20px
  font-size: 18px

  a
    display: inline-block
    padding: 10px 16px

.extra-space
  height: 75px
